<% if logged_in? %>
<% if current_user.id == @user.id %>
<% content_for :additional_footers do %>
<script>
$(document).ready(function() {
  $('#edit-album').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    $(this).find('.modal-body #album-name').val(button.data('name'));
    $(this).find('.modal-body #album-id').val(button.data('id'));
  });
  $('.btn-group a').click(function(event) {
    event.preventDefault();
    var album = $(this).parent().parent().parent().parent();
    var albumId = $(this).data('albumId');
    $.ajax({
      type: "DELETE",
      url: '/albums/' + albumId,
      success: function() {
        album.slideUp('slow', function() {$(this).remove();});
      },
      error: function() {
        alert("An error occurred.");
      }
    });
  });
});
</script>
<% end %>
<% end %>
<% end %>
<%= partial :'shared/form_errors' %>
<h1><%= @user.full_name %>'s Albums</h1>
<div class="row">
<% @user.albums.each do |album| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/albums/<%= album.id %>">
        <img src="<%= album.random_thumb %>" alt="Random thumbnail">
      </a>
      <div class="caption">
        <p><%= album.name %></p>
        <% if logged_in? %>
        <% if current_user.id == @user.id %>
        <center>
        <div class="btn-group">
          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#edit-album" data-name="<%= album.name %>" data-id="<%= album.id %>">Edit</button>
          <a class="btn btn-warning btn-xs" data-album-id="<%= album.id %>">Delete</a>
        </div>
        </center>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if logged_in? %>
<% if current_user.id == @user.id %>
<p class="text-center">
  <button class="btn btn-primary" data-toggle="modal" data-target="#new-album">Create a new album</button>
</p>
<div class="modal fade" id="new-album" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Album</h4>
      </div>
      <div class="modal-body">
        <form action="/albums" method="post">
          <div class="form-group">
            <label class="control-label">Name:</label>
            <input type="text" class="form-control" name="album[name]">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">New album</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit-album" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit Album</h4>
      </div>
      <div class="modal-body">
        <form action="/albums/edit" method="post">
          <div class="form-group">
            <label class="control-label">Name:</label>
            <input type="text" class="form-control" name="album[name]" id="album-name">
          </div>
          <input type="hidden" name="album[id]" id="album-id">
          <input type="hidden" name="_method" value="patch">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update album</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>