<h1><%= @user.full_name %>'s URLs</h1>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <td><strong>URL</strong></td>
      <td><strong>Short URL</td></strong></td>
      <% if current_user.id == @user.id %>
      <td><strong>Number of clicks</td></strong></td>
      <td></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% if @user.urls.empty? %>
    <tr><td>No urls to display!</td><td></td><td></td></tr>
  <% end %>
  <% @user.urls.each do |x| %>
    <tr>
      <td><a href="<%= x.redirect_url %>"><%= x.redirect_url %></a></td>
      <td><a href="/<%= x.short_uri %>">/<%= x.short_uri %></a></td>
      <% if current_user.id == @user.id %>
      <td><%= x.click_count %></td>
      <td>
        <form action="/<%= x.short_uri %>" method="post">
          <input name="_method" type="hidden" value="delete" />
          <button type="submit" class="btn btn-success btn-xs">Delete</button>
        </form>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>