<% content_for :additional_footers do %>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3000
    });
  });
</script>
<% end %>
<%= partial :'shared/form_errors' %>
<div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <% @album.photos.each_with_index do |photo, index| %>
    <% if index == 0 %>
    <div class="item active">
    <% else %>
    <div class="item">
    <% end %>
      <center><a href="/albums/<%= @album.id %>/<%= photo.id %>"><img src="<%= photo.photo_path.url %>"></a></center>
      <div class="carousel-caption">
        <p style="background-color:#000"><%= photo.caption %></p>
      </div>
    </div>
    <% end %>
  </div>
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><br>
<% if logged_in? %>
<% if current_user.id == @album.user_id %>
<p class="text-center">
  <button class="btn btn-primary" data-toggle="modal" data-target="#new-photo">Upload a photo</button>
</p>
<div class="modal fade" id="new-photo" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload photo</h4>
      </div>
      <div class="modal-body">
        <form action="/albums/<%= @album.id %>" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label class="control-label">Photo:</label>
            <input type="file" class="form-control" name="filename">
          </div>
           <div class="form-group">
            <label class="control-label">Caption:</label>
            <input type="text" class="form-control" name="photo[caption]">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">New album</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>