<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/categories/<%= @post.category.slug %>"><%= @post.category.name %></a></li>
  <li><a href="/posts/<%= @post.slug %>"><%= @post.title %></a></li>
  <li class="active">Edit</li>
</ol>
<form action="/posts/<%= @post.slug %>" method="post">
  <div class="form-group">
    <label class="control-label">Category: <%= @post.category.name %></label>
    <input class="form-control" type="text" placeholder="<%= @post.category.name %>" disabled>
  </div>
  <div class="form-group">
    <label class="control-label">Title:</label>
    <input class="form-control" type="text" placeholder="<%= @post.title %>" disabled>
  </div>
  <div class="form-group">
    <label class="control-label">Content:</label>
    <textarea class="form-control" name="content" rows="8"><%= @post.content %></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">Email:</label>
    <input type="text" class="form-control" name="email" value="<%= @post.author_email %>">
  </div>
  <input type="hidden" name="id" value="<%= params[:id] %>">
  <div class="modal-footer">
    <a type="button" class="btn btn-default" href="/posts/<%= @post.slug %>">Back to post</a>
    <button type="submit" id="create_post" class="btn btn-primary">Save post</button>
  </div>
</form>