<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.full_name %>'s Posts</h3>
  </div>
  <div class="panel-body">
    <dl id="posts_list">
      <% if @user.posts.empty? %>
      <dt>No posts to display.</dt>
      <% end %>
      <% @user.posts.each do |p| %>
      <dt><a href="/posts/<%= p.slug %>"><%= p.title %></a></dt>
      <dd><strong>Tags:</strong> <%= p.get_tags_string %></dd>
      <dd><%= p.content[0, 150] %>...</dd><br>
      <% end %>
    </dl>
  </div>
</div>