<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#tags">Available tags</a></li>
  <li><a data-toggle="tab" href="#users">Users</a></li>
</ul>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>My Posts</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td><strong>Post title</strong></td>
          <td><strong>Tags</td></strong></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if current_user.posts.empty? %>
        <tr><td>No posts to display!</td><td></td><td></td></tr>
        <% end %>
        <% current_user.posts.each do |x| %>
        <tr>
          <td class="col-md-4"><%= x.title %></td>
          <td class="col-md-6"><%= x.get_tags_string %></td>
          <td class="col-md-2">
            <ul class="list-inline">
              <li><a href="/posts/<%= x.slug %>" class="btn btn-warning btn-xs">View</a></li>
              <li><a href="/posts/<%= x.slug %>/edit" class="btn btn-info btn-xs">Edit</a></li>
              <li><form action="/posts/<%= x.slug %>" method="post">
                <input name="_method" type="hidden" value="delete" />
                <button type="submit" class="btn btn-success btn-xs">Delete</button>
              </form></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p class="text-center">
      <a href="/posts/new" class="btn btn-primary">Create a new post</a>
    </p>
  </div>
  <div id="tags" class="tab-pane fade">
    <h3>All tags</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td><strong>Tag</strong></td>
          <td><strong>Number of posts</td></strong></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if @tags.empty? %>
        <tr><td>No tags to display!</td><td></td><td></td></tr>
        <% end %>
        <% @tags.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
          <td><a type="button" class="btn btn-info btn-xs" href="/tag/<%= k %>">View Posts</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="users" class="tab-pane fade">
    <h3>Other Users</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>Number of posts</td></strong></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if @users.empty? %>
        <tr><td>No other users to display!</td><td></td><td></td></tr>
        <% end %>
        <% @users.each do |x| %>
        <tr>
          <td><%= x.full_name %></td>
          <td><%= x.posts.count %></td>
          <td><a href="/users/<%= x.id %>" class="btn btn-info btn-xs">View posts</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>